* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("https://img.freepik.com/premium-vector/diwali-seamless-pattern-with-indian-ornament-flower-leaf_87850-187.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(187, 113, 38, 0.878);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-image:radial-gradient(white,rgb(198, 97, 97))
}

nav h1 {
    font-size: 50px;
    color: rgb(101, 24, 37);
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li {
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(101, 24, 37);
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 100px;
}

.signup-box {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    width: 300px;
}

.signup-box h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.input-field {
    margin-bottom: 20px;
    text-align: left;
}

.input-field label {
    font-size: 18px;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

button {
    background-image: linear-gradient(120deg, rgb(101, 24, 37), black);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    transform: scale(1.05);
}

.google-signup {
    margin-bottom: 20px;
}

.google-btn {
    display: flex;
    align-items: center;
    background-color: white;
    color: #333;
    border-radius: 50px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.google-btn:hover {
    transform: scale(1.05);
}

.google-btn img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
